{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Menu Items{% endblock %}</h1>
    {% if order %}
        <a href="{{ url_for('restaurant.place_order') }}"><h1>Place Order</h1></a>
    {% endif %}

{% endblock %}

{% block content %}
  {% for dish in dishes  %}
    <article class="post">
      <header>
        <div>
          <h1>{{ dish.get('name') }}..................{{ dish.get('price') }}</h1>
        </div>
        <a class="action" href="{{ url_for('restaurant.add_to_cart', dish=dish.id) }}?next={{ url_for('restaurant.see_menu', restaurant_name=restaurant_name) }}">Add to Cart</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
